<ul>
<% @list.each do |bookmark| %>
  <li><a href=<%=bookmark[1]%>><%=bookmark[0]%></a></li>
  <%end%>
</ul>

<form action='/bookmarks' method='POST'>
  <label for="url">URL: </label>
  <input type="text" name="url">
  <br>
  <br>
  <label for="title">Title:  </label>
  <input type="text" name="title">
  <br>
  <br>
  <input type="submit" value="Add bookmark">
</form>